@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Italic-VariableFont_opsz\,wght.ttf') format('woff2-supports-variations'),
        url('../assets/fonts/Inter-VariableFont_opsz\,wght.ttf') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel';
    src: url('../assets/fonts/Cinzel-VariableFont_wght.ttf') format('woff2');
    font-weight: 400 900;
    font-style: normal;
    font-display: swap;
}

:root {
    /* 1 REM = 16px */

    /* colors */
    --background: #FFFCEE;
    --accent: #C9A84C;
    --light: rgb(215, 215, 215);
    --highlightBackground: #FFFDE7;
    /* text */

    --font-header: "Cinzel", Georgia, serif;
    --font-body: "Inter", sans-serif;
    --h1: 4rem;
    --p: 1rem;

    --fw-light: 200;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    /* padding & margin*/
    --normal: 1.5rem;
    --small: 1rem;
    --xSmall: 0.5rem;

}

* {
    box-sizing: border-box;
}


body {
    font-family: var(--font-body);
    line-height: 1.6;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    margin: 0;
    padding: 2rem;
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}


body,
main,
section {
    background-color: var(--background);
}

h1,
h2,
h3,
h4 {
    margin: 0;
    font-family: var(--font-header);
    line-height: 1.2;
}


select {
    height: fit-content;
    width: fit-content;
    border: 1.5px solid var(--accent);
    border-radius: 5px;
    background: none;
    cursor: pointer;
    padding: 4px 6px;
    /* appearance: none;


::picker-icon : Allows us to change the little icon indicating the select (arrow-down)
::checkmark : allows us to alter the check icon that is next to the checked option
:checked : A pseudo-class to select our checked option
::picker(select) : The bounding box that surrounds/lists our options

    @supports (appearance: base-select) {

        &,
        &::picker(select) {
            appearance: base-select;
        }
    } */

}

footer {
    background-color: #fffcda;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: initial;
}

.back-button {
    position: absolute;
    left: 1rem;
    top: 1rem;
}